fusesoc>=2.3

# Python Verification Framework
cocotb>=2.0.1
cocotb-test>=2.0.1
pytest>=7.0.0

# Wishbone Verification IP
cocotbext-wishbone>=1.0.0
cocotb-bus>=0.3.0

# Official RISC-V Compliance Framework (For the CPU later)
riscof>=1.25.2

# UART Verification IP
cocotbext-uart>=1.0.0